a{
    text-decoration: none;
}


/* ask block */
#ask_block{
    position: fixed;
    background-color: white;
    width: 500px;
    height: 400px;
    left: 416.5px;
    top:100px;
    border: 2px solid #2EC074;
    border-radius: 10px;
    z-index: 3;
    display: none;
}

#ask_form{
    position: relative;
    width: 80%;
    top:40px;
    margin-left: auto;
    margin-right: auto;
}

#ask_title_text{
    position: relative;
    color: #333333;
    font-family: "微软雅黑";
}

#input_ask_title{
    position: relative;
    width: 100%;
    height: 25px;
    top:10px;
    background-color: white;
    border: 1px solid #2EC074;
    border-radius: 3px;

}

#ask_description_text{
    position: relative;
    top:20px;
    color: #333333;
    font-family: "微软雅黑";
}

#textarea_ask_description{
    position: relative;
    top:10px;
    width: 100%;
    height: 150px;
    background-color: white;
    border: 1px solid #2EC074;
    border-radius: 3px;
    resize:none;
}

#cancel_ask_button{
    position: relative;
    top:30px;
    left:230px;
    width:70px;
    height:35px;
    background-color: #2EC074;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-family: "微软雅黑", "黑体", "Arial Unicode MS";
}

#cancel_ask_button:hover{
    cursor: pointer;
    background-color: springgreen;
}

#ask_button{
    position: relative;
    top:30px;
    left:260px;
    width:70px;
    height:35px;
    background-color: #2EC074;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-family: "微软雅黑", "黑体", "Arial Unicode MS";
}

#ask_button:hover{
    cursor: pointer;
    background-color: springgreen;
}

/*------------------*/


.wrapper{
    width:auto;
    min-width:1333px;
}

/*navigation bar*/
.navigation{
    height:50px;
    background-color: #2EC074;
    position:fixed;
    left:0px;
    top:0px;
    right:0px;
    z-index: 1;
}

.nav_inner{
    width:960px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
}

/*logo*/
#logo{
    float: left;
    color: white;
    font-family: "Verdana";
    font-size: larger;
    line-height: 50px;
}

/*search & ask block*/
#search_ask_block{
    position: relative;
    width:400px;
    left:30px;
    line-height: 50px;
}


/* search */
#form_search{
    position: relative;
    width:400px;
}

#input_search{
    position: relative;
    height: 28px;
    width:200px;
    background-color: white;
    border: 0px;
    border-radius: 3px;
    /*color:  #2EC074;*/
}


#button_search{
    position: relative;
    left:-32px;
    top:5px;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background-color: white;
    background-image:url("../images/search.png");
    color: white;
    border: 0px;
}

/**html #button_search{*/
/*top:0px;*/
/*display:none;*/
/*}*/

#button_search:hover{
    cursor: pointer;
}


/* ask button */
#button_ask{
    position: relative;
    width:50px;
    height: 30px;
    line-height: 30px;
    left:310px;
    top:-47px;
    background-color:mediumspringgreen;
    border: 1px solid mediumspringgreen;
    color:white;
    font-size: 15px;
    border-radius: 3px;
}

#button_ask:hover{
    cursor: pointer;
    background-color: springgreen;
}


/* menu bar */
.menubar{
    position: relative;
    width:300px;
    left:450px;
    margin:0;
    padding:0;
    top: -100px;
}

.menu{
    position: relative;
    float: left;
    line-height: 50px;
    width: 70px;
    /*top:-20px;*/
    /*display: inline;*/
    list-style-type: none;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.menu > a{
    color: white;
}


.menu:hover{
    cursor: pointer;
    background-color: mediumspringgreen;
}


/*user information block*/
.user_info_block{
    position: relative;
    float: right;
    height: 50px;
    width: 150px;
    line-height: 50px;
    top:-100px;
}


.user_info_block:hover{
    cursor: pointer;
    background-color: mediumspringgreen;
}

.user_info_block:hover .user_submenubar{
    /*display: block;*/
    visibility: visible;
}

#user_head_image{
    position: relative;
    top:10px;
    left: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
/*.user_head_image > span{*/
/*line-height: 50px;*/
/*}*/
#username_text{
    position: relative;
    color: white;
    margin-left: 15px;
    font-size: medium;
}


/* submenu */
.user_submenubar{
    /*display: none;*/
    visibility: hidden;
    position: relative;
    left:0px;
    top:-17px;
    padding: 0px;
    background-color: #2EC074;
    border: thin solid lightgreen;
    /*border:  2px dashed white;*/
    /*border-radius: 10px;*/
}


.user_submenu{
    position: relative;
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: white;
    /*border-bottom: 1px solid lightgreen;*/
    border-bottom: 2px dashed white;
}

/*此处用于调整子菜单边框*/
#my_exit{
    border: 0px;
}


.user_submenu:hover{
    cursor: pointer;
    background-color:snow;
    color: #2EC074;
}

.user_submenu > a{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.user_submenu > a:hover{
    color: #2EC074;
}

.user_submenu > a >img{
    position: relative;
    top:5px;
    height: 20px;
    width: 20px;
    overflow: hidden;
}


/*-----------------------------*/

/* body */
#body{
    position: relative;
    width:50%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-bottom: 30px;
    left: 300px;
    top: 80px;
    padding: 30px;
    border: 3px dashed #2EC074;
    border-radius: 10px;
    float: left;
}

#my_message_text{
    position: relative;
    /*color: #333333;*/
    font-size: large;
    font-family: "微软雅黑", "黑体", "Arial Unicode MS";
}


/* message item block */
.message_item_block{
    position: relative;
    float: left;
    width: 100%;
}


.message_item_piece{
    background-color:beige;
    border:solid white;
    float: left;
    width: 100%;
    /*padding-bottom: 10px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

.me_head{
    position: relative;
    top:25px;
    left:10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
}

.me_head:hover{
    cursor: pointer;
}

.you_head{
    position: relative;
    top:25px;
    left:10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
}

.you_head:hover{
    cursor: pointer;
}


.user_head{
    position: relative;
    top:30px;
    left:15px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
}


.user_head:hover{
    cursor: pointer;
}

.message_item{
    position: relative;
    width: 92%;
    top:-30px;
    left: 55px;
    font-size: 15px;
    float: left;
    clear: both;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.you_username{
    position: relative;
    /*color: #2EC074;*/
    /*color: indianred;*/
    color: darkslategray;
    /*font-weight: bold;*/
}

.you_username:hover{
    cursor: pointer;
    text-decoration: underline;
}


.message_footer{
    position: relative;
    font-size: small;
    color: gray;
    top:-35px;
    left: 57px;
    width: 92%;
    /*right: 20px;*/
    /*top:-20px;*/
    /*float: right;*/
    /*text-align: right;*/
    float: left;
}

.message_dialog_text{
    position: relative;
    float: right;
    right: 15px;
    /*color: #333333;*/
}

.message_dialog_text:hover{
    cursor: pointer;
    color: #333333;
}


.message_dialog_block{
    position: relative;
    border: thin solid gray;
    border-radius: 5px;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    /*top:10px;*/
    /*display: none;*/
}

.message_dialog{
    position: relative;
    float: left;
    width: 100%;
}

.message_dialog_item{
    position: relative;
    width: 92%;
    top:-15px;
    left: 50px;
    font-size: 14px;
    float: left;
    clear: both;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.message_dialog_footer{
    position: relative;
    font-size: small;
    color: gray;
    top:-25px;
    left: 50px;
    width: 92%;
    /*right: 20px;*/
    /*top:-20px;*/
    /*float: right;*/
    /*text-align: right;*/
    float: left;
}

.message_dialog_block > hr{
    position: relative;
    width: 95%;
    /*top:-25px;*/
}

.send_message_block{
    position: relative;
    width: 100%;
    height: 110px;
}

.form_message{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.message_input_text{
    position: relative;
    width: 85%;
    height:25px;
    left:45px;
    top:10px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.message_send_button{
    position: relative;
    height: 30px;
    width: 70px;
    top:60px;
    left:-50px;
    float: right;
    background-color: #2EC074;
    color: white;
    border: 0px;
    border-radius: 3px;
}

.message_send_button:hover{
    cursor: pointer;
    background-color:springgreen ;
}